@{
    ViewBag.Title = "Home Page";
}

<!--<div class="wrapper">
    <div class="home">
        <div id="header">
            <img id="hrLogo" src="~/Content/Image/hrlogo.png" value="Logo" />
        </div>
        <div class="userName">
            <label for="userName">User: </label>
            <input type="text" name="userName" />
        </div>

        <div class="password">
            <label for="password">Password: </label>
            <input type="password" name="password" />
        </div>

        <input type="button" value="Login" class="button" />
        <input type="button" value="Forgot password?" class="button" />

    </div>
</div>
    -->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<div class="logo"></div>
<div class="login-block">
    <h1>Innskráning</h1>
    <input type="text" value="" placeholder="Notandanafn" id="username" />
    <input type="password" value="" placeholder="Lykilorð" id="password" />
    <button>Submit</button>
</div>
