@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>Tillinn á E er stór og stæðilegur</h4>

<address>
    E er frá húsavík<br />
    Traustin á honum einnig <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
