@model MooshakV2.ViewModels.CourseDetailViewModel

@{
    ViewBag.Title = "details";
}

<h2>details</h2>

<div>
    <h4>CourseDetailViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
