@{
    ViewBag.Title = "About Spaghetti";
}
<h2>About Spaghetti</h2>
<h3>History of Spaghetti</h3>


<div class="row">
    <div class="col-md-8">
        <p>
            Pasta in the West may have first been worked into long, thin forms in Sicily around the 12th century,
            as the Tabula Rogeriana of Muhammad al-Idrisi attested, reporting some traditions about the Sicilian
            kingdom. In the 5th century AD, it was known that pasta could be cooked through boiling. The popularity
            of spaghetti spread throughout Italy after the establishment of spaghetti factories in the 19th century,
            enabling the mass production of spaghetti for the Italian market.
        </p>
        <p>
            In the United States around the end of the 19th century, spaghetti was offered in restaurants as Spaghetti
            Italienne (which likely consisted of noodles cooked past al dente, and a mild tomato sauce flavored with
            easily found spices and vegetables such as cloves, bay leaves, and garlic) and it was not until decades
            later that it came to be commonly prepared with oregano or basil.
        </p>
        <h3>Fresh spaghetti</h3>
        <p>
            At its simplest, spaghetti can be formed using no more than a rolling pin and a knife. A home pasta machine 
            simplifies the rolling, and makes the cutting more uniform. Fresh spaghetti would normally be cooked within 
            hours of being formed. Commercial versions of 'fresh' spaghetti are manufactured.
        </p>


    </div>
    <div class="col-md-4">
        <img src="~/Content/carbonera.jpg" alt="carbo" />
    </div>

</div>