@{
    ViewBag.Title = "Contact Spaghetti";
}
<h2>Contact Spaghetti</h2>

<address>
    36 Pasta Road<br />
    Little Italy Rock, NA<br />
    <abbr title="Phone">P:</abbr>
    382-5868
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:spaghettiSupport@spaghetti.com">spaghettiSupport@spaghetti.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:commercialSpaghetti@spaghetti.com">commercialSpaghetti@spaghetti.com</a>
</address>