@{
    ViewBag.Title = "Home Spaghetti";
}

<div class="jumbotron">
    <h2>This is Spaghetti</h2>
</div>

<div class="spaghet">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <p>Welcome to my spaghetti information site.</p>
        </div>
        <div class="col-xs-6 col-md-4">
            <img src="~/Content/623480-spagett.jpg" />
        </div>
    </div>
</div>