@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Spaghetti</h1>
    <h2>This is spaget</h2>
</div>

<div class="row">
    <img src="~/Content/spaghett.jpg" alt="This is spaghetti" />
</div>