@{
    ViewBag.Title = "Home Spaghetti";
}

<div class="jumbotron">
    <h1>Penus</h1>
    <h2>This is no longer a spaghetti page... </h2>
</div>

<div class="row">
    <img src="http://www.fikar.cz/UserFiles/Image/Zbozi/v/103.jpg" alt="penus" />
</div>
